.gifts {
  margin-top: 100px;
  padding: 1px;
  border-radius: 30px;
  background: rgb(162, 80, 250);
  background: linear-gradient(
    180deg,
    rgba(162, 80, 250, 1) 0%,
    rgba(196, 80, 250, 1) 100%
  );
  box-shadow: 0.1rem 0.1rem 0.1rem #4f4f4f59, -0.1rem -0.2rem 0.1rem #4f4f4f59;
  @media screen and (max-width: 750px) {
    margin-top: 180px;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-radius: 28px;
    box-shadow: inset 0.1rem -0.1rem 0.1rem rgba(162, 80, 250, 1),
      0.1rem -0.1rem 0.1rem rgba(162, 80, 250, 1);
    @media screen and (max-width: 700px) {
      display: none;
    }
    &-mb {
      display: none;
      width: calc(100% - 20px);
      padding: 10px;
      @media screen and (max-width: 700px) {
        display: inline-flex;
        flex-direction: column;
        gap: 20px;
      }
      &-wrapper {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  &-item {
    display: flex;
    width: calc(100% / 8);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
    &:not(:last-child) {
      border-right: 2px solid #913cf8;
      @media screen and (max-width: 800px) {
        border-right: 0;
      }
    }
    &-img-wrapper {
      width: 40px;
      height: 40px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    span {
      @media screen and (max-width: 1050px) {
        font-size: 15px;
      }
    }
  }
}
